@import "normalize.css";

p {
  text-align: center;
}

h1 {
  text-align: center;
}

.calendar {
  height: 1000px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: rgb(45, 73, 73);
  align-content: stretch;
}

.calendar-top-bar {
  display: flex;
  width: 90%;
  height: 20%;
  order: 1;
  justify-content: space-evenly;
}

.calendar-bottom-bar {
  display: flex;
  width: 90%;
  min-height: 70%;
  order: 2;
  justify-content: space-around;
  gap: 3%;
}

.calendar-day {
  background-color: rgb(181, 216, 216);
  order: 10;
  flex: 1 1 10%;
}

/* Medium screens */
@media all and (max-width: 800px) {
  .calendar {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-around;
  }
}

/* Small screens */
@media all and (max-width: 800px) {
  .calendar .calendar-bottom-bar{
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

.button {
  background-color: lightseagreen;
  height: 50px;
  width: 50px;
}

.button-align {
  align-self: center;
}

.today {
  background-color: rgb(118, 143, 143);
}

.active-day {
  background-color: rgb(90, 143, 143);
}
